@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
    background-color: aquamarine;
    align-items: center;
}

/*Titutlo*/
.containerA {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 800px;
}

#item01 {
    background-color: whitesmoke;
    color: black;
    padding: 5px;
    margin: 5px;   
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

/* Título */

.containerB {

    background-color: black;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 720px;
}

#item02 {
    background-color: whitesmoke ;
    color: black;
    padding: 5px;
    margin: 5px;   
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 800px;
}

#option{
    font-size: 20px;
}